<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{new?"Registrar Nuevo Usuario":"Editar Usuario"}}</h3>
</div>
<form ng-submit="new?addUser():update()">
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-user"></i></span>
        <input ng-model="userData.first_name" type="text" class="form-control" placeholder="Nombres" required>
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-user"></i></span>
        <input ng-model="userData.last_name" type="text" class="form-control" placeholder="Apellidos" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-book-open"></i></span>
        <select ng-model="userData.document" class="form-control">
          <option value="c">Cedula</option>
          <option value="p">Pasaporte</option>
          <!-- <option value="2">Consultor</option> -->
        </select>
        <!-- <input type="text" class="form-control" placeholder="Cedula o Pasaporte"> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-paper-clip"></i></span>
        <input ng-model="userData.ci" type="text" class="form-control" placeholder="Número de Documento" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-flag"></i></span>
        <select ng-model="userData.nationality" class="form-control">
          <option value="v">Venezolano</option>
          <option value="e">Extranjero</option>
        </select>
        <!-- <input type="text" class="form-control" placeholder="Nacionalidad"> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-briefcase"></i></span>
        <input ng-model="userData.position" type="text" class="form-control" placeholder="Cargo" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-key"></i></span>
        <select ng-model="userData.type" class="form-control">
          <option value="admin">Administrador</option>
          <option value="employee">Técnico/Consultor</option>
        </select>
        <!-- <input type="text" class="form-control" placeholder="Rol"> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-lock"></i></span>
        <input ng-model="userData.password" type="password" class="form-control" placeholder="Contraseña" required>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="submit">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
</form>
