<div class="animated fadeIn" ng-controller="UsersCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de Usuarios
        </div>
        <div class="card-body">
          <button ng-click="open('md',{})" class="btn btn-primary" style="float: right; margin-bottom: 10px;">Nuevo Usuario</button>
          <table ng-init="readUsers()" st-table="usersData" class="table table-striped">
            <thead>
              <tr>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Nacionalidad</th>
                <th>Cargo</th>
                <th>Rol</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in usersData">
                <td>{{user.ci}}</td>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.nationality=='v'?'Venezolano':'Extranjero'}}</td>
                <td class="text-capitalize">{{user.position}}</td>
                <td>{{user.type=='admin'?'Administrador':'Técnico/Consultor'}}</td>
                <td>
                  <button type="button" class="btn btn-info"><i class="fa fa-pencil" style="color: white;" ng-click="open('md', user)"></i></button>
                  <button type="button" class="btn btn-danger"><i class="fa fa fa-trash" ng-click="delete(user.ci)"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
