<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Monitoreo</a>
      </li>

      <li class="divider"></li>
      <li ng-if="userType == 'admin'" class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.users')}">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.users')}" href="#"><i class="icon-people"></i> Usuarios</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.users.admin"><i class="icon-people"></i> Consultar</a>
          </li>
        </ul>
      </li>
      <li ng-if="userType == 'admin'" class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.dispositives')}">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.dispositives')}" href="#"><i class="icon-target"></i> Dispositivos</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.dispositives.list"><i class="icon-target"></i> Consultar</a>
          </li>
        </ul>
      </li>
      <li ng-if="userType == 'admin'" class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.microcontrollers')}">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.microcontrollers')}" href="#"><i class="icon-magnet"></i> Microcontroladores</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.microcontrollers.list"><i class="icon-magnet"></i> Consultar</a>
          </li>

        </ul>
      </li>
      <li ng-if="userType == 'admin'" class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.snmp')}">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.snmp')}" href="#"><i class="icon-support"></i> Protocolo SNMP</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.snmp.list"><i class="icon-support"></i> Consultar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.snmp.asign"><i class="icon-support"></i> Asignar</a>
          </li>

        </ul>
      </li>
      <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.status')}">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.status')}" href="#"><i class="icon-chart"></i> Estado</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.status.red"><i class="icon-chart"></i> Red</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.status.dispositive"><i class="icon-chart"></i> Dispositivo</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.actions')}">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.actions')}" href="#"><i class="icon-magic-wand"></i> Accion Remota</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.actions.list"><i class="icon-puzzle"></i> Consultar</a>
          </li>

        </ul>
      </li>
      <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.stadistics')}">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.stadistics')}" href="#"><i class="icon-pie-chart"></i> Estadisticas</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.stadistics.show"><i class="icon-pie-chart"></i> Consultar</a>
          </li>

        </ul>
      </li>
      <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.reports')}">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.reports')}" href="#"><i class="icon-printer"></i> Reportes</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.reports.list"><i class="icon-printer"></i> Consultar</a>
          </li>
          <li ng-if="userType == 'admin'" class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.reports.structure"><i class="icon-printer"></i> Estructura</a>
          </li>
        </ul>
      </li>

    </ul>
  </nav>
</div>
