<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <input type="date" class="form-control" value="2017-12-01">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <input type="date" class="form-control" value="2018-02-28">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <select class="form-control" ng-model="type">
          <option value="1">Red</option>
          <option value="2">Dispositivo</option>
        </select>
      </div>
    </div>
    <div class="col-md-3" ng-if="type == 2">
      <div class="form-group">
        <select class="form-control">
          <option value="2">Router Oficina 2</option>
          <option value="3">Switch Sala de Servidores</option>
          <option value="4">Router Sala de Servidores</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Estadísticas de la Red
          <a href=""> <i class="fa fa-file-pdf-o fa-2x float-right" aria-hidden="true" style="color: red;"></i></a>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <i class="icon-graph icon-bg"></i>Rendimiento
                </div>
                <div class="card-body" ng-controller="LineCtrl">
                  <canvas ng-if="type == 1" id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick"></canvas>
                  <canvas ng-if="type == 2" id="line" class="chart chart-line" chart-data="data2" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header" ng-if="type == 1">
                  <i class="fa fa-asterisk icon-bg"></i>Fallas Totales (14)
                </div>
                <div class="card-header" ng-if="type == 2">
                  <i class="fa fa-asterisk icon-bg"></i>Fallas Totales (3)
                </div>
                <div class="card-body" ng-controller="PieCtrl">
                  <canvas ng-if="type == 1" id="pie" class="chart chart-pie" chart-data="data2" chart-labels="labels"></canvas>
                  <canvas ng-if="type == 2" id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <i class="icon-graph icon-bg"></i>Disponibilidad
                  </div>
                  <div class="card-body" ng-controller="LineCtrl">
                    <canvas ng-if="type == 1" id="line" class="chart chart-line" chart-data="dataAva" chart-labels="labels" chart-legend="true" chart-series="seriesAva" chart-click="onClick"></canvas>
                    <canvas ng-if="type == 2" id="line" class="chart chart-line" chart-data="dataAva2" chart-labels="labels" chart-legend="true" chart-series="seriesAva" chart-click="onClick"></canvas>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
