<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{new?"Registrar Nuevo dispositivo":"Editar dispositivo"}}</h3>
</div>
<form ng-submit="new?addDevice():update()">
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-vector"></i></span>
        <input type="text" class="form-control" placeholder="Nombre" ng-model="deviceData.name" required>
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-vector"></i></span>
        <input type="text" class="form-control" placeholder="Marca"ng-model="deviceData.brand" >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-home"></i></span>
        <select class="form-control"ng-model="deviceData.type" >
          <option value="">Tipo</option>
          <option value="router">Router</option>
          <option value="modem">Modem</option>
          <option value="switck">Switch</option>
          <option value="repetidor">Repetidor</option>
          <<option value="hub">Hub</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-tag"></i></span>
        <input type="text" class="form-control" placeholder="MAC" ng-model="deviceData.mac_address" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-direction"></i></span>
        <input type="text" class="form-control" placeholder="Direccion IP" ng-model="deviceData.ip_address" required>
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-target"></i></span>
        <input type="text" class="form-control" placeholder="Puerto" ng-model="deviceData.port" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-paper-plane"></i></span>
        <select class="form-control" ng-model="deviceData.snmp" required>
          <option value="">Soporta SNMP</option>
          <option value="1">Si</option>
          <option value="2">No</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-magnet"></i></span>
        <select ng-init="readMicros()" class="form-control" ng-options="micros.id as micros.name disable when micros.status=='disabled' for micros in microsData" ng-model="deviceData.controller_id" required>
          <option value="">Dispositivo</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="submit">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
</form>
