<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{new?"Registrar Nuevo Microcontrolador":"Editar Microcontrolador"}}</h3>
  {{new}}
</div>
<form ng-submit="new?addMicro():update()">
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-vector"></i></span>
        <input type="text" class="form-control" placeholder="Nombre" ng-model="micro.name" required>
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-tag"></i></span>
        <input type="text" class="form-control" placeholder="Departamento" ng-model="micro.location" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-direction"></i></span>
        <input type="text" class="form-control" placeholder="Direccion IP" ng-model="micro.ip_address" required>
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-target"></i></span>
        <input type="text" class="form-control" placeholder="Puerto" ng-model="micro.port" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-clock"></i></span>
        <select class="form-control" ng-model="micro.loop_time" required>
          <option disabled value="">Tiempo de Monitoreo</option>
          <option value="10">10 minutos</option>
          <option value="15">15 minutos</option>
          <option value="20">20 minutos</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-arrow-up-circle"></i></span>
        <select class="form-control" ng-model="micro.status">
          <option disabled value="">Estado</option>
          <option value="enabled">Activo</option>
          <option value="disabled">Inactivo</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="submit">Guardar</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>
</form>
