<div class="animated fadeIn" ng-controller="MicrocontrollersCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de Microcontroladores
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="controls">
              <div class="row">
                <div class="col-md-3">
                  <div class="input-group">
                    <input id="appendedInputButton" class="form-control" type="text" placeholder="Buscar Microcontrolador">
                    <span class="input-group-append">
                      <button class="btn btn-secondary" type="button"><i class="icon-magnifier"></i></button>
                    </span>
                  </div>
                </div>
                <div class="col-md-3 offset-md-6">
                  <button ng-click="open('md', {})" class="btn btn-primary" style="float: right; margin-bottom: 10px;">Nuevo Microcontrolador</button>
                </div>
              </div>
            </div>
          </div>
          <table ng-init="readMicros()" st-table="microsData"class="table table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Dirección IP</th>
                <th>Puerto</th>
                <th>Departamento</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="micro in microsData">
                <td>{{micro.name}}</td>
                <td>{{micro.ip_address}}</td>
                <td>{{micro.port}}</td>
                <td>{{micro.location}}</td>
                <td>{{(micro.status == 'enabled')?'Activo':'Inactivo'}}</td>
                <td>
                  <button type="button" class="btn btn-success" ng-click="open('md', micro)"><i class="fa fa-pencil" style="color: white;"></i></button>
                  <button type="button" class="btn btn-danger" ng-click="delete(micro.id)"><i class="fa fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
