<div class="modal-header">
  <h3 class="modal-title">Agregar Comando</h3>
</div>
<form ng-submit="addCommand()">
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-cursor"></i></span>
        <input type="text" class="form-control" placeholder="Comando" ng-model="commandData.command" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group mb-3">
        <label>Descripción</label>
        <textarea class="form-control" rows="2" maxlength="100" ng-model="commandData.description" required></textarea>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="submit">Guardar</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>
</form>
