<div class="animated fadeIn" ng-controller="SnmpCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de Asignaciones
        </div>
        <div class="card-body">
          <button ng-click="open('sm')" class="btn btn-primary" style="float: right; margin-bottom: 10px;">Nuevo Comando</button>
          <div class="form-group">
            <div class="col-md-3">
              <select class="form-control">
                <option value="1">Todos</option>
                <option value="2">Asignados</option>
                <option value="3">Por Asignar</option>
              </select>
            </div>
          </div>
          <table ng-init="readDevices()" st-table="devicesData" class="table table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Ordenes</th>
              </tr>
            </thead>
            <tbody ng-init='readCommands()'>
              <tr ng-repeat="device in devicesData | filter: {snmp:1}">
                <td>{{device.name}}</td>
                <td class="text-capitalize">{{device.type}}</td>
                <td ng-init="getDeviceComand(device.id)">
                  <span ng-repeat="dcommand in deviceCommand | filter: {device_id:device.id}">
                    {{singleCommand(dcommand.command_id).command}}<br>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
