// Here you can add other styles
.modal-backdrop {
  opacity: 0.3 !important;
}
.fade {
  opacity: 1;
}
.dropdown-item i {
  margin: 0px;
  color: white;
  text-align: center;
}

.modal-dialog{
  margin-top: 100px;
}

textarea {
  resize: none;
}

.centered {
  margin: 0 auto;
}

.card {
  .btn-secondary:not([disabled]):not(.disabled).active {
    background-color: #3a9d5d;
    border-color: #379457;
    box-shadow: 0 0 0 0.2rem rgba(77, 189, 116, 0.5);
  }
}

.form-control[readonly] {
    background-color: inherit;
    opacity: 1;
    border: 1px solid;
}
