<div class="app flex-row align-items-center" ng-controller="loginCtrl">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-3">
            <div ng-init="readLogin()" class="card-body">
              <h3>Iniciar Sesión | KOMODO</h3>
              <p class="text-muted">Ingresa a tu cuenta</p>
              <form ng-submit="login()">
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input ng-model="loginData.ci" type="text" class="form-control" placeholder="Cedula o Pasaporte" required>
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input ng-model="loginData.password" type="password" class="form-control" placeholder="Contraseña" required>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-success px-4">Ingresar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card text-white py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <img class="img-fluid" src="../../img/komodo.png" alt="Simbolo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
