<!-- Navbar -->
<div ng-include="'views/common/navbar.html'" include-replace></div>
<div class="app-body">
  <!-- Navigation -->
  <div ng-include="'views/common/sidebar-nav.html'" include-replace></div>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb" breadcrumb>
      <ncy-breadcrumb></ncy-breadcrumb>

      <!-- Breadcrumb Menu-->
      <!-- <li class="breadcrumb-menu">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="#"><i class="icon-speech"></i></a>
          <a class="btn" ui-sref="app.main"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" ui-sref="app.main"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li> -->

    </ol>
    <div class="container-fluid">
      <ui-view></ui-view>
    </div>
    <!-- /.conainer-fluid -->
  </main>

  <!-- Aside Menu -->
  <!-- <div ng-include="'views/common/aside.html'" include-replace></div> -->

</div>

<!-- Footer -->
<div ng-include="'views/common/footer.html'" include-replace></div>
