<div class="animated fadeIn" ng-controller="ActiRemoCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de Dispositivos
        </div>
        <div class="card-body">
          <!-- <button class="btn btn-secondary" type="button" ng-click="open('md')"><i class="icon-magnifier"></i></button> -->

          <div class="form-group">
            <div class="controls">
              <div class="row">
                <div class="col-md-3 offset-md-9">
                  <div class="input-group">
                    <input id="appendedInputButton" class="form-control" type="text" placeholder="Buscar Dispositivo">
                    <span class="input-group-append">
                      <button class="btn btn-secondary" type="button"><i class="icon-magnifier"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Dirección IP</th>
                <th>Nombre</th>
                <th>Tipo</th>
              </tr>
            </thead>
            <tbody ng-init="getAll()">
              <tr ng-repeat="device in devicesData" ng-click="openModalAction('lg', device)">
                <td>{{device.ip_address}}</td>
                <td>{{device.name}}</td>
                <td class="text-capitalize">{{device.type?device.type:'microcontrolador'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
