<div class="animated fadeIn" ng-controller="StatusCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Estado del Dispositivo
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p><b>Ultimo Escaneo SNMP: </b>4/03/2018 18:44</p>
            </div>
            <div class="col-md-4 offset-md-2">
              <p class="text-right"><b>Red: </b> Fervenca</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><b>Dispositivos de Red: </b> 17</p>
            </div>
            <div class="col-md-4 offset-md-2">
              <p class="text-right"><b>Microcontroladores: </b> 4</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <p><b>Activos: </b> 12 / 5</p>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <select class="form-control">
                  <option>Router Sala de Servidores</option>
                  <option></option>
                  <option ></option>
                </select>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-3 offset-md-2">
              <p><b>En red desde: </b>11/12/2017 15:40</p>
            </div>
            <div class="col-md-3">
              <p><b>IP: </b>192.168.1.118</p>
            </div>
            <div class="col-md-3">
              <p><b>Puerto: </b>4058</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 text-center" style="margin-top: 10rem;">
              <p><b>Microncontrolador: </b>Micro 01</p>
              <p><b>Ancho de Banda Total: </b> 10 Mb/s</p>
              <p><b>Uso: </b> 1Mb/s</p>
              <p><b>Ultima Incidencia: </b>03/03/2018	14:20</p>
              <p class="text-justify">Falla en el nodo de red, caida temporal del servicio</p>
            </div>
            <div class="col-md-9 mt-3">
              <div class="card">
                <div class="card-header">
                  <i class="icon-graph icon-bg"></i>Rendimiento
                </div>
                <div class="card-body" ng-controller="LineCtrl">
                  <canvas id="line" class="chart chart-line" chart-data="dataDis" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
