<div class="animated fadeIn" ng-controller="StatusCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Estado de la Red
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p><b>Ultimo Escaneo SNMP: </b>4/03/2018 18:44</p>
            </div>
            <div class="col-md-4 offset-md-2">
              <p class="text-right"><b>Red: </b> Fervenca</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><b>Dispositivos de Red: </b> 17</p>
            </div>
            <div class="col-md-4 offset-md-2">
              <p class="text-right"><b>Microcontroladores: </b> 4</p>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-2">
              <p><b>Activos: </b> 12 / 5</p>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <select class="form-control">
                  <option>Dispositivos</option>
                  <option></option>
                  <option ></option>
                </select>
              </div>
            </div>
          </div> -->
          <div class="row mt-3">
            <div class="col-md-3 text-center" style="margin-top: 10rem;">
              <p><b>Ancho de Banda Total: </b> 10 Mb/s</p>
              <p><b>Uso: </b> 7Mb/s</p>
              <p><b>Ultima Incidencia: </b>3/03/2018	14:20</p>
              <p><b>Router Sala de Servidores: </b>Caida en el nodo de red, fallo en el servicio del departamento</p>
            </div>
            <div class="col-md-9">
              <div class="card">
                <div class="card-header">
                  <i class="icon-graph icon-bg"></i>Rendimiento
                </div>
                <div class="card-body" ng-controller="LineCtrl">
                  <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
