<div class="animated fadeIn" ng-controller="RepoCtrl">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3>Estructura de Reporte</h3>
        </div>
        <!-- <div class="col-md-3 offset-md-3">
          <div class="form-group">
            <label>Campos Disponibles</label>
            <select class="form-control">
              <option value="0">Carga de Red</option>
              <option value="1">Campo 2</option>
              <option value="2">Campo 3</option>
            </select>
          </div>
        </div> -->
      </div>
    </div>
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-star"></i> Campos Seleccionados
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="btn-group-toggle" data-toggle="buttons">
                <label ng-class="{active:reportsOptions.date}"class="btn btn-secondary" style="width: 100px;">
                  <input ng-model="reportsOptions.date" type="checkbox" checked autocomplete="off"> Fecha
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="btn-group-toggle" data-toggle="buttons">
                <label ng-class="{active:reportsOptions.time}"class="btn btn-secondary" style="width: 100px;">
                  <input type="checkbox" ng-model="reportsOptions.time" autocomplete="off"> Hora
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="btn-group-toggle" data-toggle="buttons">
                <label ng-class="{active:reportsOptions.device}"class="btn btn-secondary" style="width: 100px;">
                  <input type="checkbox" ng-model="reportsOptions.device" autocomplete="off"> Dispositivo
                </label>
              </div>
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-md-4">
              <div class="btn-group-toggle" data-toggle="buttons">
                <label ng-class="{active:reportsOptions.status}"class="btn btn-secondary" style="width: 100px;">
                  <input type="checkbox" ng-model="reportsOptions.status" autocomplete="off"> Estado
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="btn-group-toggle" data-toggle="buttons">
                <label ng-class="{active:reportsOptions.snmpw}"class="btn btn-secondary" style="width: 100px;">
                  <input type="checkbox" ng-model="reportsOptions.snmpw" autocomplete="off"> snmpwalk
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="btn-group-toggle" data-toggle="buttons">
                <label ng-class="{active:reportsOptions.trace}"class="btn btn-secondary" style="width: 100px;">
                  <input type="checkbox" ng-model="reportsOptions.trace" autocomplete="off"> Stacktrace
                </label>
              </div>
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-md-4">
              <div class="btn-group-toggle" data-toggle="buttons">
                <label ng-class="{active:reportsOptions.commands}"class="btn btn-secondary" style="width: 100px;">
                  <input type="checkbox" ng-model="reportsOptions.commands" autocomplete="off"> Comandos
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="btn-group-toggle" data-toggle="buttons">
                <label ng-class="{active:reportsOptions.issue}"class="btn btn-secondary" style="width: 100px;">
                  <input type="checkbox" ng-model="reportsOptions.issue" autocomplete="off"> <p>Incidencia<br>Anterior</p>
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="btn-group-toggle" data-toggle="buttons">
                <label ng-class="{active:reportsOptions.snmpg}"class="btn btn-secondary" style="width: 100px;">
                  <input type="checkbox" ng-model="reportsOptions.snmpg" autocomplete="off"> snmpget
                </label>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
